.friendMessage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.friendImageAndText {
	/* width: 575px; */
	display: flex;
	justify-content: space-between;

	align-items: flex-end;
}

.friendImageAndText img {
	width: 48px;
	height: 48px;
	margin-right: 13px;
}

.friendText {
	background-color: #f5f7fb;
	border-radius: 10px 10px 0 10px;
	padding: 7px 13px 8px 13px;
	margin-right: 13px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.friendText:after {
	content: "";
	position: absolute;
	border: 24px solid transparent;
	border-right: 0px solid #f5f7fb;
	border-bottom: 19px solid #f5f7fb;
	left: 0;
	bottom: 0;
	transform: translateX(-67%);
}

.friendName {
	color: #000;
	margin-bottom: 3px;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.friendMessageText {
	color: #000;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.friendTime {
	color: #000;

	font-family: Montserrat;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	transform: translateX(36%);
	margin-top: 5px;
}
