.button {
	width: 132px;
	height: 30px;
	border-radius: 3px;
	border: none;
	color: #fff;
}

.disabled {
	width: 133px;
	height: 30px;
	background: #0066cc;
	opacity: 50%;
}

.secondary {
	background: transparent;
	border: 1px solid #0066cc;
	color: #0066cc;
}

.default {
	background-color: #0066cc;
}

.red {
	background-color: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
